.board {
  text-align: center;
  border: 1px solid black;
  padding: 25px 50px;
  border-radius: 25px;
  box-shadow: 2px 3px 10px grey;
  background-color: white;
}


.dice {
  padding: 5% 25%;
  border-radius: 25px;
  background-color: #000;
  color: white;
  transition: background-color 0.1s ease-out;
  border: 1px solid #000;



}

.dice:hover {
  background-color: white;
  color: #000;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}